In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

Reading the Data

In [2]:
df = pd.read_csv(r'ECO221_Project_2025_Final.csv')
df1 = pd.read_csv(r'RF_DistrictWise_ECO221_2025.csv')
df2 = pd.read_csv(r'Salinity_Alkalinity_ECO221_2025.csv')

Selecting Only Minor Pulses

In [3]:
MinorPulses_df = df[df['crop'] == 'Minor Pulses']
MinorPulses_df

,crop,area1000hectares,production1000tonnes,irrigatedarea1000hectares,districtcode,year,statecode,statename,nitrogenconsumptiontonnes,phosphateconsumptiontonnes,potashconsumptiontonnes,districtname
12,Minor Pulses,109.080000,46.029999,2.126,1,2017,14,Chhattisgarh,91447,53486,16993,Durg
39,Minor Pulses,40.680000,15.070000,0.378,2,2017,14,Chhattisgarh,21279,12584,4271,Bastar
53,Minor Pulses,75.440002,36.639999,1.429,3,2017,14,Chhattisgarh,92008,47721,15054,Raipur
86,Minor Pulses,90.309998,66.449997,1.004,4,2017,14,Chhattisgarh,72926,29713,6915,Bilaspur
107,Minor Pulses,41.720001,13.070000,1.558,5,2017,14,Chhattisgarh,31282,13620,3707,Raigarh
...,...,...,...,...,...,...,...,...,...,...,...,...
5745,Minor Pulses,NaN,NaN,NaN,913,2017,15,Jharkhand,15376,11091,1486,Hazaribagh
5781,Minor Pulses,NaN,NaN,NaN,914,2017,15,Jharkhand,427,297,82,Dhanbad
5804,Minor Pulses,NaN,NaN,NaN,915,2017,15,Jharkhand,16063,8959,1702,Palamau
5812,Minor Pulses,NaN,NaN,NaN,916,2017,15,Jharkhand,28893,20374,3949,Ranchi
5830,Minor Pulses,NaN,NaN,NaN,917,2017,15,Jharkhand,2588,1600,122,Singhbhum

Rainfall summary for the year 2017

In [4]:
df1_summary = df1.groupby(['state', 'district'])['rf'].agg(['sum', 'mean']).reset_index()
df1_summary.rename(columns={'sum': 'total_rainfall', 'mean': 'average_rainfall'}, inplace=True)
df1_summary

,state,district,total_rainfall,average_rainfall
0,Andaman And Nicobar Islands,Nicobars,2760.667560,230.055630
1,Andaman And Nicobar Islands,North And Middle Andaman,3160.187640,263.348970
2,Andaman And Nicobar Islands,South Andamans,3360.942960,280.078580
3,Andhra Pradesh,Anantapur,597.170006,49.764167
4,Andhra Pradesh,Chittoor,756.740003,63.061667
...,...,...,...,...
718,West Bengal,Murshidabad,1565.190007,130.432501
719,West Bengal,Nadia,1736.770849,144.730904
720,West Bengal,Paschim Bardhaman,1768.240008,147.353334
721,West Bengal,Purba Bardhaman,1768.240008,147.353334
722,West Bengal,Purulia,1677.950009,139.829167

Mearging the file df and df1

In [5]:
merged_df = MinorPulses_df.merge(df1_summary, left_on=['statename', 'districtname'], right_on=['state', 'district'], how='left')
merged_df.drop(columns=['state', 'district'], inplace=True)
merged_df

,crop,area1000hectares,production1000tonnes,irrigatedarea1000hectares,districtcode,year,statecode,statename,nitrogenconsumptiontonnes,phosphateconsumptiontonnes,potashconsumptiontonnes,districtname,total_rainfall,average_rainfall
0,Minor Pulses,109.080000,46.029999,2.126,1,2017,14,Chhattisgarh,91447,53486,16993,Durg,861.629998,71.802500
1,Minor Pulses,40.680000,15.070000,0.378,2,2017,14,Chhattisgarh,21279,12584,4271,Bastar,902.189990,75.182499
2,Minor Pulses,75.440002,36.639999,1.429,3,2017,14,Chhattisgarh,92008,47721,15054,Raipur,683.989988,56.999166
3,Minor Pulses,90.309998,66.449997,1.004,4,2017,14,Chhattisgarh,72926,29713,6915,Bilaspur,648.360000,54.030000
4,Minor Pulses,41.720001,13.070000,1.558,5,2017,14,Chhattisgarh,31282,13620,3707,Raigarh,624.520000,52.043333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Minor Pulses,NaN,NaN,NaN,913,2017,15,Jharkhand,15376,11091,1486,Hazaribagh,1338.560021,111.546668
262,Minor Pulses,NaN,NaN,NaN,914,2017,15,Jharkhand,427,297,82,Dhanbad,1192.630021,99.385835
263,Minor Pulses,NaN,NaN,NaN,915,2017,15,Jharkhand,16063,8959,1702,Palamau,NaN,NaN
264,Minor Pulses,NaN,NaN,NaN,916,2017,15,Jharkhand,28893,20374,3949,Ranchi,1360.920004,113.410000
265,Minor Pulses,NaN,NaN,NaN,917,2017,15,Jharkhand,2588,1600,122,Singhbhum,NaN,NaN

Merge data with district-level soil quality data

In [6]:
merged_df_Soil = merged_df.merge(df2, left_on='districtname', right_on='District Name', how='left')
merged_df_Soil.rename(columns={'Average Salinity/Alkalinity (Percentage)': 'salinity_alkalinity_percent'}, inplace=True)
merged_df_Soil.drop(columns=['District Name'], inplace=True)
print(merged_df_Soil.head())

           crop  area1000hectares  production1000tonnes  \
0  Minor Pulses        109.080000             46.029999
1  Minor Pulses         40.680000             15.070000
2  Minor Pulses         75.440002             36.639999
3  Minor Pulses         90.309998             66.449997
4  Minor Pulses         41.720001             13.070000

   irrigatedarea1000hectares  districtcode  year  statecode     statename  \
0                      2.126             1  2017         14  Chhattisgarh
1                      0.378             2  2017         14  Chhattisgarh
2                      1.429             3  2017         14  Chhattisgarh
3                      1.004             4  2017         14  Chhattisgarh
4                      1.558             5  2017         14  Chhattisgarh

   nitrogenconsumptiontonnes  phosphateconsumptiontonnes  \
0                      91447                       53486
1                      21279                       12584
2                      92008                       47721
3                      72926                       29713
4                      31282                       13620

   potashconsumptiontonnes districtname  total_rainfall  average_rainfall  \
0                    16993         Durg      861.629998         71.802500
1                     4271       Bastar      902.189990         75.182499
2                    15054       Raipur      683.989988         56.999166
3                     6915     Bilaspur      648.360000         54.030000
4                     3707      Raigarh      624.520000         52.043333

   salinity_alkalinity_percent
0                     0.000000
1                     0.000000
2                     0.000000
3                     0.390813
4                     0.000000

Data Cleaning

In [7]:
# Step 1: Drop rows with missing area, production, or irrigation (these are essential)
merged_df_Soil = merged_df_Soil.dropna(subset=[
    'area1000hectares', 
    'production1000tonnes', 
    'irrigatedarea1000hectares'
])

# Fill missing average_rainfall and total_rainfall with the state-level mean
merged_df_Soil['average_rainfall'] = merged_df_Soil['average_rainfall'].fillna(
    merged_df_Soil.groupby('statename')['average_rainfall'].transform('mean')
)

merged_df_Soil['total_rainfall'] = merged_df_Soil['total_rainfall'].fillna(
    merged_df_Soil.groupby('statename')['total_rainfall'].transform('mean')
)


# Fill salinity_alkalinity_percent with district mean or overall mean
merged_df_Soil['salinity_alkalinity_percent'] = merged_df_Soil.groupby('districtname')['salinity_alkalinity_percent'].transform(lambda x: x.fillna(x.mean()))
merged_df_Soil['salinity_alkalinity_percent'].fillna(merged_df_Soil['salinity_alkalinity_percent'].mean())

# Capping irrigated area at total cultivated area where it exceeds
merged_df_Soil['irrigatedarea1000hectares'] = merged_df_Soil[['irrigatedarea1000hectares', 'area1000hectares']].min(axis=1)

#Handling missing soil data with state mean
merged_df_Soil['salinity_alkalinity_percent'] = merged_df_Soil.groupby('statename')['salinity_alkalinity_percent'].transform(
    lambda x: x.fillna(x.mean())
)

# Checking for missing values
print("Missing values in each column:")
print(merged_df_Soil.isnull().sum())

Missing values in each column:
crop                           0
area1000hectares               0
production1000tonnes           0
irrigatedarea1000hectares      0
districtcode                   0
year                           0
statecode                      0
statename                      0
nitrogenconsumptiontonnes      0
phosphateconsumptiontonnes     0
potashconsumptiontonnes        0
districtname                   0
total_rainfall                 0
average_rainfall               0
salinity_alkalinity_percent    0
dtype: int64

Handling Outliers

In [8]:
def cap_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    df[column] = df[column].clip(lower, upper)
    return df

# Columns to cap
columns_to_cap = [
    'area1000hectares', 
    'production1000tonnes', 
    'irrigatedarea1000hectares',
    'total_rainfall', 
    'average_rainfall', 
    'salinity_alkalinity_percent',
    'nitrogenconsumptiontonnes', 
    'phosphateconsumptiontonnes', 
    'potashconsumptiontonnes'
]

# Apply capping to each column
for col in columns_to_cap:
    merged_df_Soil = cap_outliers_iqr(merged_df_Soil, col)

Make them in Excel file

In [9]:
df1_summary.to_csv(r'MinorPulsesSummary.csv', index=False)
merged_df.to_csv(r'Task1Summary.csv', index=False)
merged_df_Soil.to_csv(r'Task2Summary.csv', index=False)